@using HealthInformationProgram.Models.ViewModels.Common
@using HealthInformationProgram.SessionObject
@model HealthInformationProgram.Models.ViewModels.VisitManagementViewModel
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@{
    ViewBag.Title = "Visit Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center"><h2>Visit Management</h2></div>

@if (SessionData.Current.LoggedInUser.IsAuthorizedToEditVisits())
{
    using (Html.BeginForm("Index", "VisitManagement", FormMethod.Post))
    {
        @Html.Partial("VisitSearchPartialView", Model)
        @Html.Partial("VisitDetailsPartialView", Model)

        if (((Model.ModelState == HIPViewModelStates.AddNewOfficeVisitDiagnosis) ||
                    (Model.ModelState == HIPViewModelStates.EditOfficeVisitDiagnosis)))
        {
            @Html.Partial("AddNewOfficeVisitDiagnosisPartialView", Model)
        }
        else
        {
            @Html.Partial("VisistDiagnosisPartialView", Model)
        }
    }
}
else
{
    if (!SessionData.Current.LoggedInUser.IsLoggedIn())
    {
        Response.Redirect("/Account/Login");
    }
    else
    {
        <div class="body searchCriteria">
            <div class="user-message">
                <p>
                    You are currently NOT AUTHORIZED to use the Visit Management feature of the Health Information Program - for authorization please see your administrator.
                </p>
            </div>
        </div>
    }
}
<script type="text/javascript">
    $(function () {
        $('#SearchButton').click(function () {
            $("#searching").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('searching');
            var spinner = new Spinner(opts).spin(target);
            $(target).data('spinner', spinner);
        });
    });
    $(function () {
        $('#LoginButton').click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
    $(function () {
        $('#SaveNewVisitButton').click(function () {
            $("#saving").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('saving');
            var spinner = new Spinner(opts).spin(target);
        });
    });
    $(document).ready(
    function () {
        $('#VisitIdSearchStringFilterTextBox').bind('input', function () {
            if ($(this).val() != '') {
                if (!$(this).is($('#VisitIdSearchStringFilterTextBox'))) {
                    $('#VisitIdSearchStringFilterTextBox').val('');
                }
            }
        });
    });
</script>