@using HealthInformationProgram.Models.ViewModels.Common
@using HealthInformationProgram.SessionObject
@model HealthInformationProgram.Models.ViewModels.VisitManagementViewModel
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@{
    ViewBag.Title = "Visit Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center"><h2>Visit Management</h2></div>

@if (SessionData.Current.LoggedInUser.IsAuthorizedToEditVisits())
{
    using (Html.BeginForm("Index", "VisitManagement", FormMethod.Post))
    {
        @Html.Partial("VisitSearchPartialView", Model)
        @Html.Partial("VisitDetailsPartialView", Model)

        if (((Model.ModelState == HIPViewModelStates.AddNewOfficeVisitDiagnosis) ||
                    (Model.ModelState == HIPViewModelStates.EditOfficeVisitDiagnosis)))
        {
            @Html.Partial("AddNewOfficeVisitDiagnosisPartialView", Model)
        }
        else
        {
            @Html.Partial("VisistDiagnosisPartialView", Model)
        }
    }
}
else
{
    if (!SessionData.Current.LoggedInUser.IsLoggedIn())
    {
        Response.Redirect("/Account/Login");
    }
    else
    {
        <div class="body searchCriteria">
            <div class="user-message">
                <p>
                    You are currently NOT AUTHORIZED to use the Visit Management feature of the Health Information Program - for authorization please see your administrator.
                </p>
            </div>
        </div>
    }
}
