@using ReportViewerForMvc;
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")

<style>

    .reportViewer {
    min-height:200px !important;
    
    }
</style>


@Html.ActionLink("Portrait", "Report", new { id = "Portrait" })

@Html.ActionLink("3.1 Consultation", "Report", new { id = "3.1 Consultation" })

@Html.ActionLink("3.2 Morbidity", "Report", new { id = "3.2 Morbidity" })

@Html.ActionLink("3.4 STI", "Report", new { id = "3.4 STI" })
@Html.ActionLink("3.5 Chronic Disease" , "Report", new { id = "3.5 Chronic Disease"})
@Html.ActionLink("3.6 Mental Illness", "Report", new { id = "3.6 Mental Illness" })

@Html.ActionLink("3.7 Injuries", "Report", new { id = "3.7 Injuries" })

@Html.ActionLink("HIS QA", "Report", new { id = "HIS QA" })
@Html.ActionLink("Tally Details", "Report", new { id = "Tally Details" })


<div style="min-height:500px">
   @if(ViewBag.ReportViewer != null){
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
  }
</div>

<style>
   .reportViewer, div#ReportViewer1 {
        width: 100% !important;
        height: 1000px !important;
    }
</style>
