@using HealthInformationProgram.SessionObject;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min-1.12.1.js")"></script>
        <script src="@Url.Content("~/Scripts/spin.js")"></script>
        <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" type="text/css" /> 
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <div id="searching" class="searching">
            <div id="searchingcontent">
                <p id="searchingspinner">
                    Searching...
                </p>
            </div>
        </div>

        <div id="loading" class="loading">
            <div id="loadingcontent">
                <p id="loadingspinner">
                    Loading...
                </p>
            </div>
        </div>

        <div id="saving" class="saving">
            <div id="savingcontent">
                <p id="savingspinner">
                    Saving...
                </p>
            </div>
        </div>

        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo-medical-teams.png" alt="Medical Teams International"/>
                </div>
                <div class="float-left">
                    <nav>
                        <ul id="menu">

                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToEditClientManagement())
                            {
                                <li>@Html.ActionLink("Client Management","Index", "ClientManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthroizedToEditDatabaseManagement() ||
                                SessionData.Current.LoggedInUser.IsAuthroizedToViewDatabaseManagement())
                            {
                                <li>@Html.ActionLink("Database Management", "Index", "DataManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToEditVisits())
                            {
                                <li>@Html.ActionLink("Visit Management", "Index", "VisitManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToViewReports())
                            {
                                <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToAdminsterUsers())
                            {
                                <li>@Html.ActionLink("Users", "Users", "Home")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsLoggedIn())
                            {
                                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        <table class="content-wrapper main-content clear-fix">
            <tr>
                <td style="width: 75px; vertical-align: top; text-align: center">
                    @if (SessionData.Current.LoggedInUser.IsLoggedIn())
                    {
                      <div class="float-left" style="padding: 5px">
                        <span style="color: red; font-size: 1em">Country: @SessionData.Current.LoggedInUser.Country.Name</span><br/>
                        <img src="@Url.Content("~/content/" + SessionData.Current.LoggedInUser.Country.Code + "-flag.png")" alt="Country Flag" width="75" height="50" />
                      </div>
                    }
                </td>
                <td>
                    @RenderBody()
                </td>
            </tr>
        </table>
    </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Medical Teams International</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>
<script type="text/javascript">

    //$(document).ready(function () {

    //    $('.notificationDisplays').hide();
    //});
</script>