@using HealthInformationProgram.SessionObject;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo-medical-teams.png" alt="Medical Teams International"/>
                </div>
                <div class="float-left">
                    <nav>
                        <ul id="menu">

                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToEditClientManagement())
                            {
                                <li>@Html.ActionLink("Client Management","Index", "ClientManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthroizedToEditDatabaseManagement() ||
                                SessionData.Current.LoggedInUser.IsAuthroizedToViewDatabaseManagement())
                            {
                                <li>@Html.ActionLink("Database Management", "Index", "DataManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToEditVisits())
                            {
                                <li>@Html.ActionLink("Visit Management", "Index", "VisitManagement")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToViewReports())
                            {
                                <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsAuthorizedToAdminsterUsers())
                            {
                                <li>@Html.ActionLink("Users", "Users", "Home")</li>
                            }
                            @if (SessionData.Current.LoggedInUser.IsLoggedIn())
                            {
                                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Medical Teams International</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>

<script type="text/javascript"
        src="@Url.Content("~/Scripts/spin.min.js")"></script>
<script type="text/javascript">
    $(function () {
        $('#SearchButton').click(function () {
            $("#searching").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('searching');
            var spinner = new Spinner(opts).spin(target);
            $(target).data('spinner', spinner);
        });
    });
    $(function () {
        $('#LoginButton').click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
    $(function () {
        $('#SaveNewVisitButton').click(function () {
            $("#saving").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('saving');
            var spinner = new Spinner(opts).spin(target);
        });
    });
    $(document).ready(
    function () {
        $('#VisitIdSearchStringFilterTextBox').bind('input', function () {
            if ($(this).val() != '') {
                if (!$(this).is($('#VisitIdSearchStringFilterTextBox'))) {
                    $('#VisitIdSearchStringFilterTextBox').val('');
                }
            }
        });
    });
</script>